/* TEXTO GENERAL */

h1  {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

h2  {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

p   {
    font-size: 1.2em;
    font-weight: 600;
}